:root {
  --accent-color: #2196f3;
  --primary-color: #212121;
  --secondary-color: #757575;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #fff;
  color: var(--primary-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.secondary-title {
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
}

.logo {
  color: var(--primary-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo_accent {
  color: var(--accent-color);
}

.button {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:active {
  background-color: #188ce8;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 0 auto;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .values,
  .projects,
  .team {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .values__item,
  .projects__item,
  .team__item {
    margin-top: 30px;
    margin-left: 30px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .contacts,
  .menu {
    display: none;
  }
  .header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }
  .mobile-menu-button {
    display: block;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-button:hover, .mobile-menu-button:focus {
    cursor: pointer;
    fill: var(--accent-color);
  }
  .mobile-menu__nav-link.active-page-mobile {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-button {
    display: none;
  }
  .header-box {
    height: 80px;
    justify-content: space-between;
  }
  .header-box,
  .nav {
    display: flex;
    align-items: center;
    color: var(--accent-color);
  }
  .menu {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
  .menu__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.15;
    color: var(--primary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__link,
  .contacts__link {
    font-weight: 500;
    letter-spacing: 0.02em;
  }
  .contacts__link {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.16;
    color: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: var(--accent-color);
  }
  .contacts__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  .contacts__item:first-child {
    margin-bottom: 10px;
  }
  .menu__link.active-page {
    position: relative;
    color: var(--accent-color);
  }
  .menu__link.active-page::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: 0px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    margin-left: 93px;
  }
  .contacts__item:first-child {
    margin-bottom: 0;
  }
  .contacts__link {
    font-size: 14px;
    line-height: 1.15;
  }
  .contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .contacts__item:first-child {
    margin-right: 30px;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  overflow: auto;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 0 48px 40px;
  background-color: #fff;
}

.mobile-menu__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__close-button:hover, .mobile-menu__close-button:focus {
  cursor: pointer;
  fill: var(--accent-color);
}

.mobile-menu__nav-link {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
  color: var(--accent-color);
}

.mobile-menu__nav-item, .mobile-menu__contacts-item:first-child {
  margin-bottom: 32px;
}

.mobile-menu__contacts-item:last-child {
  margin-bottom: 64px;
}

.mobile-menu__contacts-item:first-child .mobile-menu__contacts-link {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px/32px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__contacts-item:last-child .mobile-menu__contacts-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px/24px;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.mobile-menu__social-list {
  display: flex;
  flex-wrap: wrap;
}

.mobile-menu__social-item:not(:last-child) .mobile-menu__social-link::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 22px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(33, 33, 33, 0.2);
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__social-link:hover, .mobile-menu__social-link:focus {
  color: #188ce8;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 400px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-img/mobile-hero.jpg);
  background-size: cover;
  background-position: center;
}

.hero__title {
  color: #fff;
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 387px) {
  .hero__title {
    width: 360px;
    height: 84px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-img/tablet-hero.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-img/desktop-hero.jpg);
  }
  .hero__title {
    width: 696px;
    height: 120px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.values-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.values__item {
  flex-basis: calc((100% - 120px) / 4);
}

.values__title {
  margin-bottom: 10px;
  text-align: center;
}

.values__text {
  color: var(--secondary-color);
  line-height: 1.7;
}

.values__icon-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .values__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .values__icon-box {
    width: 354px;
  }
  .values__title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .values-section {
    padding-top: 94px;
    padding-bottom: 47px;
  }
  .values__icon-box {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .projects-section {
    display: none;
  }
}

.projects-section {
  padding-top: 47px;
  padding-bottom: 94px;
}

.projects__item {
  position: relative;
}

.projects__title {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0px;
  left: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.team-section {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team__item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name, .team__profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
}

.team__profession {
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.team__name-box {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__name-box {
    padding: 30px 32px;
  }
}

.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -30px;
  margin-left: -30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__icon {
  max-width: 106px;
  max-height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.clients__item {
  margin-top: 30px;
  margin-left: 30px;
  width: calc((100% - 60px) / 2);
  height: 92px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients {
    margin-top: 0;
    margin-left: 0;
  }
  .clients__link {
    width: 170px;
  }
  .clients__item {
    margin-top: 0;
    margin-left: 0;
    width: auto;
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.footer-box {
  text-align: center;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  color: #fff;
}

.footer__address {
  margin-top: 20px;
}

.footer__mail, .footer__tel {
  display: block;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
}

.footer__real-address {
  color: #fff;
  font-style: normal;
  line-height: 1.71;
}

.footer__contacts {
  margin-bottom: 60px;
}

.footer__join {
  margin-bottom: 60px;
}

.footer__title {
  color: #fff;
  margin-bottom: 20px;
}

.footer__social-list {
  margin: 0 auto;
  display: flex;
  width: 206px;
  justify-content: space-between;
}

.footer__social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__social-icon {
  fill: #fff;
}

.subscribe__field {
  width: 100%;
  height: 50px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__field:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.subscribe__field:focus::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 10px 28px;
}

.subscribe__button::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/svg/subscribe-submit.svg);
}

@media screen and (min-width: 480px) {
  .subscribe__field {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .footer-box {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box {
    text-align: start;
    flex-wrap: nowrap;
  }
  .footer__contacts {
    margin-bottom: 0;
  }
  .footer__join {
    margin-left: 70px;
    margin-bottom: 0;
  }
  .subscribe {
    margin-left: 93px;
  }
  .subscribe__field {
    width: 358px;
    margin-right: 12px;
  }
  .subscribe__button {
    display: inline-flex;
  }
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  width: 100%;
  height: 100%;
  max-width: 450px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal-window {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover, .close-button:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .modal-window {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
    height: 581px;
  }
}

.modal {
  display: flex;
  flex-direction: column;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.modal__field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus,
.modal__message:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__field:last-of-type {
  margin-bottom: 20px;
}

.modal__message {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__message::placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  text-align: center;
}

.checkbox__link {
  color: var(--accent-color);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__link:focus {
  outline-color: var(--accent-color);
}

.checkbox__policy {
  line-height: 1.7;
  color: #757575;
}

.checkbox__policy::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 16px;
  height: 15px;
  background-image: url(../images/svg/empty-check.svg);
  margin-right: 9px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__imput:checked + .checkbox__policy::before {
  background-image: url(..//images/svg/check.svg);
}

.checkbox__imput:focus + .checkbox__policy::before {
  box-shadow: 0 0 2px 1px var(--accent-color);
}

.modal__button {
  align-self: center;
  padding: 10px 55px;
  margin-top: 30px;
}

@media screen and (max-width: 1199px) {
  .checkbox__policy {
    font-size: 12px;
    line-height: 1.16;
  }
  .checkbox__policy::before {
    margin-right: 8px;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  margin-bottom: 25px;
}

.filter__item {
  margin-bottom: 15px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
  }
  .filter__item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.section-gallery {
  padding-top: 60px;
  padding-bottom: 60px;
}

.gallery__item {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}

.gallery__item-box {
  padding: 20px 24px;
}

.gallery__title {
  color: var(--primary-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.gallery__text {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.9;
}

.gallery__link {
  display: block;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__link:hover, .gallery__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .gallery__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .gallery__item {
    width: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .gallery__item {
    width: calc((100% - 90px) / 3);
  }
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__text {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateY(101%);
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__link:hover .overlay__text,
.gallery__link:focus .overlay__text {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .overlay__text {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay__text {
    padding: 63px 24px;
  }
}
/*# sourceMappingURL=main.css.map */