.footer-box {
  text-align: center;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  &__logo {
    color: #fff;
  }

  &__address {
    margin-top: 20px;
  }

  &__mail,
  &__tel {
    display: block;
    margin-top: 9px;

    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.71;
  }

  &__real-address {
    color: #fff;
    font-style: normal;
    line-height: 1.71;
  }

  &__contacts {
    margin-bottom: 60px;
  }
}

// // footer__join

.footer {
  &__join {
    margin-bottom: 60px;
  }

  &__title {
    color: #fff;
    margin-bottom: 20px;
  }

  &__social-list {
    margin: 0 auto;
    display: flex;
    width: 206px;
    justify-content: space-between;
  }

  &__social-link {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__social-icon {
    fill: #fff;
  }
}

// footer-subscribe

.subscribe {
  &__field {
    width: 100%;
    height: 50px;
    padding: 15px;
    margin-bottom: 20px;

    background-color: transparent;
    color: #fff;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__field:focus {
    outline: none;
    border: 1px solid var(--accent-color);

    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    padding: 10px 28px;

    &::after {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      background-image: url(../images/svg/subscribe-submit.svg);
    }
  }
}
@media screen and (min-width: 480px) {
  .subscribe__field {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .footer-box {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-box {
    text-align: start;
    flex-wrap: nowrap;
  }
  .footer__contacts {
    margin-bottom: 0;
  }

  .footer__join {
    margin-left: 70px;
    margin-bottom: 0;
  }

  .subscribe {
    margin-left: 93px;

    &__field {
      width: 358px;
      margin-right: 12px;
    }

    &__button {
      display: inline-flex;
    }
  }
}
